/* Body */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header */
h1 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    font-size: 2.5rem;
}

/* Tombol Tambah */
.tmbh {
    display: flex;
    justify-content: center; /* Menjaga tombol di tengah */
    margin-top: 20px; /* Memberikan jarak atas */
}

.tmbh a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.tmbh a:hover {
    background-color: #45a049;
}


/* Tabel */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
    background-color: white; /* Mengubah latar belakang tabel menjadi putih */
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    background-color: white; /* Mengubah latar belakang setiap sel menjadi putih */
}

.table th {
    background-color: #4CAF50; /* Mengubah warna latar belakang header tabel */
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9; /* Menjaga latar belakang baris genap tetap terang */
}

.table tr:hover {
    background-color: #e3f2fd; /* Ganti warna hover jika diperlukan */
}

/* Tombol Aksi */
.btn {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: #2196F3;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #1E88E5;
}

.btn-danger {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #e53935;
}

/* Footer */
.footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.2);
}
